<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fmuv_driver">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activity.ForgotPassword3Activity"
            android:noHistory="true"
            android:label="Change Password"
            android:parentActivityName=".view.activity.ForgotPassword2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ForgotPassword2Activity"
            android:label="Verify Account"
            android:parentActivityName=".view.activity.ForgotPassword1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ForgotPassword1Activity"
            android:label="Search Account"
            android:parentActivityName=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PassengerMapActivity"
            android:label="Passenger&apos;s Map"
            android:parentActivityName=".view.activity.SeatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AccidentAlertHistoryActivity"
            android:label="Accident Alert Log"
            android:parentActivityName=".view.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OverSpeedHistoryActivity"
            android:label="Over Speed Log"
            android:parentActivityName=".view.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TripHistoryActivity"
            android:label="Trip History"
            android:parentActivityName=".view.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HistoryActivity"
            android:label="History"
            android:parentActivityName=".view.activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OverSpeedDialogActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeDialog" />
        <activity
            android:name=".view.activity.MessageDialogActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeDialog" />
        <activity
            android:name=".view.activity.SeatingActivity"
            android:label="Seating"
            android:parentActivityName=".view.activity.TripManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TripManagerActivity"
            android:label="Trip Manager"
            android:parentActivityName=".view.activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AccountActivity"
            android:label="Account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.DashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:noHistory="true"
            android:rotationAnimation="crossfade"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.Speedometer"
            android:enabled="true" />
        <service
            android:name=".service.MainService"
            android:enabled="true" />

        <receiver
            android:name=".utility.SystemReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>